.displayNone{ display: none; }
.displayInline{display: inline;}
.displayInlineBlock{display: inline-block;}

.borderNone{ border: none;}
.hidden{ display: none;}
.displayBlock{display: block;}

.underline{text-decoration: underline;}
.bold{font-weight: bold;}

.content-center{width: 100%; margin: 0 auto;}
.center{margin: 0 auto;}

.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}

.txt-xsm{font-size: 0.8rem;}
.txt-sm{font-size: 0.9rem;}
.txt-nm{font-size: 1.0rem;}
.txt-lg{font-size: 1.1rem;}
.txt-xlg{font-size: 1.1rem;}

.width100{width: 100%;}
.whiteCircle{background: #FFFFFF; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25); border-radius: 50%; padding: 0.5rem;}
.whiteCircle2{background: #FFFFFF; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25); border-radius: 50%; padding: 0.5rem 0.8rem;}

.general-border-top{border-top: 1px solid #DEDEDE;}
.general-border-bottom{border-bottom: 1px solid #DEDEDE;}
.general-border-left{border-left: 1px solid #DEDEDE;}
.general-border-right{border-right: 1px solid #DEDEDE;}

.cursor-pointer{cursor: pointer;}

.italicText{font-style: italic;}

.white{color: #ffffff;}