/* HERE ALL CUSTOM & STYLING THING WILL GOES */
@media screen and (max-width: 764px){
    /* FOR MOBILE VERTION */
    /* DISPLAY WIDTH LESS THAN 764PX */
    :root{
        --contactSection2ndArticleBorderLeft: none;
    }
}

@media screen and (min-width: 764px){
    /* FOR TAB / IPAD VERSION */
    /* DISPLAY WIDTH LESS THAN 1050PX AND GREATER THAN 765PX */
    :root{
        --contactSection2ndArticleBorderLeft: 1px solid var(--accentColor);
    }
}

@media screen and (min-width: 1024px){
    /* FOR TAB / IPAD VERSION */
    /* DISPLAY WIDTH GREATER THAN 1051PX */
    :root{
        --contactSection2ndArticleBorderLeft: 1px solid var(--accentColor);
    }

}

/* pageHeader */
.pageHeader>div.background{background: var(--backgroundColor); box-shadow: 0px 3px 12px rgba(0,0,0,.175);}

/* navigation => subNavigation */
.pageHeader .navigationHolder nav.tabNavigation>ul>li ul{background: var(--backgroundColor); box-shadow: 0px 3px 12px rgba(0,0,0,.25);}

/* contactSection */
.contactSection article:nth-child(3){padding-left: 1rem; border-left: var(--contactSection2ndArticleBorderLeft);}

/* productSection */
.productSection .productDetails .product .view .caption h5{color: var(--headerColor); font-weight: bold;}
