/* HERE ALL CUSTOM & STYLING THING WILL GOES */
@media screen and (max-width: 764px){
    /* FOR MOBILE VERTION */
    /* DISPLAY WIDTH LESS THAN 764PX */
    :root{
        --contactSection2ndArticleBorderLeft: none;
    }
}

@media screen and (min-width: 764px){
    /* FOR TAB / IPAD VERSION */
    /* DISPLAY WIDTH LESS THAN 1050PX AND GREATER THAN 765PX */
    :root{
        --contactSection2ndArticleBorderLeft: 1px solid var(--accentColor);
    }
}

@media screen and (min-width: 1024px){
    /* FOR TAB / IPAD VERSION */
    /* DISPLAY WIDTH GREATER THAN 1051PX */
    :root{
        --contactSection2ndArticleBorderLeft: 1px solid var(--accentColor);
    }

}

/* pageHeader */
.pageHeader>div.background{background: var(--backgroundColor); box-shadow: 0px 3px 12px rgba(0,0,0,.175);}

/* navigation => subNavigation */
.pageHeader .navigationHolder nav.tabNavigation>ul>li ul{background: var(--backgroundColor); box-shadow: 0px 3px 12px rgba(0,0,0,.25);}

/* contactSection */
.contactSection article:nth-child(3){padding-left: 1rem; border-left: var(--contactSection2ndArticleBorderLeft);}

/* productSection */
.productSection .productDetails .product .view .caption h5{color: var(--headerColor); font-weight: bold;}

/* projectSection */
.projectSection .projectList .project{border-bottom: 1px solid #CDCDCD; margin-bottom: 1rem;}

/* lightBox */
.lightBox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1002; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.lightBox-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid #888;
    border-radius: 0.5rem;
    width: 90%; /* Could be more or less, depending on screen size */
}
