@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
*{box-sizing: border-box; margin: 0; padding: 0;}
:root{
    --font_body:    300 13px 'Ubuntu', sans-serif;
    --font_regular: 300 1.15em 'Ubuntu', sans-serif;
    --font_h1:      700 3.0em 'Ubuntu', sans-serif;
    --font_h2:      500 2.3em 'Ubuntu', sans-serif;
    --font_h3:      500 1.7em 'Ubuntu', sans-serif;
    --font_h4:      500 1.5em 'Ubuntu', sans-serif;
    --font_h5:      500 1.3em 'Ubuntu', sans-serif;
    --font_h6:      500 1.1em 'Ubuntu', sans-serif;
    --font_nav:     400 1.3em 'Ubuntu', sans-serif;

    --textColor:        #34343e;
    --backgroundColor:  #ffffff;
    --headerColor:      #555555;
    --accentColor:      #f1a006;
    --highlight:        #7b0e0b;
}
body{font: var(--font_body); color: var(--textColor);}
main{}
section{}
article{}
p,a,span,font{font: var(--font_regular); color: var(--textColor); text-decoration: none; list-style: none;}
a:hover, a{color: var(--highlight);}

form{width: 100%;}
input,textarea, select{width: 95%; min-height: 2rem; margin: 0.5rem 2.5%; box-shadow: 2px 3px 5px var(--headerColor); border: none; font: var(--font_h5); font-weight: 400; padding: 1rem;}
label{padding-left: 1rem; font: var(--font_h5);}
.formField{font: var(--font_regular); padding: 0.25rem;}


img{width: 100%;}
img.displayInline{width: 1rem;}
p{margin: 0.75rem 0rem;}
h1{font: var(--font_h1); color: var(--textColor); margin: 0.8rem 0.1rem;}
h2{font: var(--font_h2); color: var(--headerColor); margin: 0.9rem 0.1rem;}
h3{font: var(--font_h3); color: var(--headerColor); margin: 0.9rem 0.1rem;}
h4{font: var(--font_h4); color: var(--headerColor); margin: 0.9rem 0.1rem;}
h5{font: var(--font_h5); color: var(--headerColor); margin: 1.0rem 0.1rem;}
h6{font: var(--font_h6); color: var(--headerColor); margin: 1.0rem 0.1rem;}
nav a{text-decoration: none; font: var(--font_nav); color: var(--textColor);}
nav a.active, nav a:hover{text-decoration: none; font: var(--font_nav); color: var(--highlight);}
i{color: var(--accentColor);}
.invert{color: var(--backgroundColor);}
.hamburgerBar{color: var(--textColor); width:4em; height: 0.5em;
    background-color: var(--accentColor); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #7b0e0b, #f1a006); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #7b0e0b, #f1a006); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #7b0e0b, #f1a006); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #7b0e0b, #f1a006); /* Standard syntax */;
    margin: 0.5em;
    border-radius:  20px 5px 50px 5px;}
.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 0.8rem;
    padding: .15rem 2rem;
    border-radius: 0.2rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn.regular{color: var(--highlight); background-color: var(--accentColor);}
.btn.disable{color: var(--backgroundColor); background-color: var(--headerColor);}
.btn.buy{font-size: 1rem; padding: 0.25rem 2rem; background-color: var(--highlight); color: var(--backgroundColor);}
.highlightBox{border-left: solid 0.2em var(--accentColor); padding: 0.5em;}
.shadowBox{box-shadow: 2px 3px 5px var(--headerColor);}
.price, .price span{color: var(--highlight); font-weight: bold;}
footer.pageFooter{border-top: 1px solid var(--accentColor);}
iframe{width: 100% !important; padding: 0.5rem 2rem;}

/************************ animations ************************/
.arrow_carrot { margin-right: 1em; transform: rotate(-90deg); animation: rotatingArrow ease 2s;}
@keyframes rotatingArrow { to { transition: all 1s; } from { transition: all 1s; } }
