*{box-sizing: border-box; margin: 0;}


@media screen and (max-width: 764px){
    /* FOR MOBILE VERTION */
    /* DISPLAY WIDTH LESS THAN 764PX */
    :root{
        --logoSize: 4rem;

        --pageHeaderPadding: 0.5em;

        --heroSectionHeight: 90vh;
        --heroSectionBoxWidth: 80vw;
        --heroSectionPadding: 5% 1%;
        --heroSectionMargin:22% 0 0 5%;

        --aboutSectionArticleWidth: 95%;
        --aboutSectionArticleMargin: 2.5%;


        --footerArticleWidth: 95%;
        --footerArticleMargin: 2.5%;
        --footerContentAlign: left;

        --contactSectionArticleWidth: 95%;
        --contactSectionArticleMargin: 2.5%;

        --productListProductWidth: 95%;
        --productListProductMargin: 2.5%;

        --productDetailsBasicInfoWidth: 95%;
        --productDetailsBasicInfoMargin: 2.5%;

        --productDetailsBasicInfoPaddingLeft: 0;
        --productDetailsBasicInfoBorderLeft: none;

        --boxShadow:        2px 3px 5px #555555;
    }

    .displayInMob{display: block !important;}
}

@media screen and (min-width: 764px){
    /* FOR TAB / IPAD VERSION */
    /* DISPLAY WIDTH LESS THAN 1050PX AND GREATER THAN 765PX */
    :root{
        --logoSize: 4rem;

        --pageHeaderPadding: 0.75em;

        --heroSectionHeight: 60vh;
        --heroSectionBoxWidth: 50vw;
        --heroSectionPadding: 10% 7%;
        --heroSectionMargin: 12% 0 0 42%;

        --aboutSectionArticleWidth: 31%;
        --aboutSectionArticleMargin: 1.16%;


        --footerArticleWidth: 31%;
        --footerArticleMargin: 1.16%;
        --footerContentAlign: center;

        --contactSectionArticleWidth: 48%;
        --contactSectionArticleMargin: 0.5%;

        --productListProductWidth: 48%;
        --productListProductMargin: 0.5%;

        --productDetailsBasicInfoWidth: 48%;
        --productDetailsBasicInfoMargin: 0.5%;

        --productDetailsBasicInfoPaddingLeft: 1rem;
        --productDetailsBasicInfoBorderLeft: 1px solid #DEDEDE;

        --boxShadow:        2px 3px 5px #555555;
    }


    .displayInTab{display: block !important;}
}

@media screen and (min-width: 1200px){
    /* FOR TAB / IPAD VERSION */
    /* DISPLAY WIDTH GREATER THAN 1051PX */
    :root{
        --logoSize: 4rem;

        --pageHeaderPadding: 1em;

        --heroSectionHeight: 75vh;
        --heroSectionBoxWidth: 40vw;
        --heroSectionPadding: 14% 6%;
        --heroSectionMargin: 3% 0 0 54%;

        --aboutSectionArticleWidth: 31%;
        --aboutSectionArticleMargin: 1.16%;


        --footerArticleWidth: 31%;
        --footerArticleMargin: 1.16%;
        --footerContentAlign: center;

        --contactSectionArticleWidth: 48%;
        --contactSectionArticleMargin: 0.5%;

        --productListProductWidth: 31%;
        --productListProductMargin: 1.16%;

        --productDetailsBasicInfoWidth: 48%;
        --productDetailsBasicInfoMargin: 0.5%;

        --productDetailsBasicInfoPaddingLeft: 1rem;
        --productDetailsBasicInfoBorderLeft: 1px solid #DEDEDE;

        --boxShadow:        2px 3px 5px #555555;
    }

}


main{}
main .topGap{height: 6em;}
section{padding: 1rem;}
section>hr, article>hr{margin: 1rem 0;}
article{margin: 1rem 1rem;}
header{}
footer{padding: 1rem;}

/* Position and Structure of .pageHeader */
.pageHeader{position: fixed; width: 100%; z-index: 1000;}
.pageHeader>div.background{position: absolute; width: 100%; height: 98%;}
.pageHeader>div.content{position: relative; padding: var(--pageHeaderPadding); display: flex; justify-content: space-between;}
.pageHeader div.logo{max-width: var(--logoSize); cursor: pointer;}


/* Position and Structure of Navigation */
.pageHeader .navigationHolder{position: relative;}

.pageHeader .navigationHolder nav.tabNavigation{min-width: 600px;}
.pageHeader .navigationHolder nav.tabNavigation>ul{display: flex; flex-wrap: nowrap; padding: 1rem 0;}
.pageHeader .navigationHolder nav.tabNavigation>ul>li{width: 24%; margin: 0.66%; position: relative;}
.pageHeader .navigationHolder nav.tabNavigation>ul>li ul{position: absolute; min-width: 200px;}
.pageHeader .navigationHolder nav.tabNavigation>ul>li ul a{margin: 0 0 0.5em 0.5em;}
.pageHeader .navigationHolder nav.tabNavigation>ul>li ul li{border-bottom: solid 0.1em rgba(85, 85, 85, 0.2); margin: 2rem; width: 80%;}
.pageHeader .navigationHolder nav.tabNavigation>ul>li ul li:last-child{border: none;}

.pageHeader .navigationHolder .mobileNavContent{position: absolute; width: 100vw; top: -0.5em; right: -0.5em; background: white;}
.pageHeader .navigationHolder .mobileNavContent nav{padding-right: 0.5em;}
.pageHeader .navigationHolder .mobileNavContent .closeNav{display: block; text-align: right;}
.pageHeader .navigationHolder .mobileNavContent .closeNav a{font-size: 3em;}
.pageHeader .navigationHolder .mobileNavContent nav ul li{border-bottom: solid 0.1em rgba(85, 85, 85, 0.2); margin: 2em 0 0 2.5em; width: 80%;}
.pageHeader .navigationHolder .mobileNavContent nav ul li:last-child{margin-bottom: 3em;}
.pageHeader .navigationHolder .mobileNavContent nav ul li a{ margin: 0 0 0.5em 0.5em;}
.pageHeader .navigationHolder .mobileNavContent nav ul li ul li:last-child{border: none;}


/* Position and Structure of .heroSection */
.heroSection{height: 95vh; background-image: url(../images/heroBackgroundArtisan-3.jpg); width: 100%;}
.heroSection>.contentHolder .content{height: var(--heroSectionHeight);  text-align: center; padding: var(--heroSectionPadding);}
.heroSection>.contentHolder .content .box{ width: var(--heroSectionBoxWidth); height: auto; margin: var(--heroSectionMargin); background-color: rgba(85, 85, 85, 0.5); padding: 1em; box-shadow: var(--boxShadow);}

#downCarat{ margin-left: 48%;}

/* Position and Structure of .aboutSection */
.aboutSection{padding: 3rem 1rem;}
.aboutSection>div.content{display: flex; flex-wrap: wrap;}
.aboutSection>div.content article{padding: 1em; margin: var(--aboutSectionArticleMargin); width: var(--aboutSectionArticleWidth);}


/* Position and Structure of .pageFooter */
.pageFooter>div.content {display: flex; flex-wrap: wrap;}
.pageFooter>div.content article{margin: var(--footerArticleMargin); width: var(--footerArticleWidth);}
.pageFooter>div.content article .contentAlign{text-align: var(--footerContentAlign); height: 100%;}
.pageFooter>div.content article .contentAlign .displayInlineBlock{height: 100%;}

/* Position and Structure of .contactSection */
.contactSection{display: flex; flex-wrap: wrap;}
.contactSection article{width: var(--contactSectionArticleWidth); margin: var(--contactSectionArticleMargin);}

/* Position and Structure of .shopSection */
.shopSection .loadMoreOption{padding: 1rem;}
.shopSection .productList{display: flex; flex-wrap: wrap;}
.shopSection .productList .product{width: var(--productListProductWidth); margin: var(--productListProductMargin); padding: 1rem;}
.shopSection .productList .product .view img{border: 1px solid #DEDEDE;}

/* Position and Structure of .productSection */
.productSection .loadMoreOption{padding: 1rem;}
.productSection .productList{display: flex; flex-wrap: wrap;}
.productSection .productList .product{width: var(--productListProductWidth); margin: var(--productListProductMargin); padding: 1rem;}
.productSection .productList .product .view img{border: 1px solid #DEDEDE;}
.productSection .productDetails .product .view{position: relative;}
.productSection .productDetails .product .view img{border: 1px solid #DEDEDE;}
.productSection .productDetails .product .view .caption{background: rgba(0,0,0,0.2); text-align: center; padding: 0.1rem; position: absolute; bottom: 0.2rem; width: 100%;}
.productSection .productDetails .product .formField{padding-bottom: 1rem; margin-bottom: 1rem;}
.productSection .productDetails .product .formField.top-gap{padding-top: 1rem; margin-top: 1rem;}
.productSection .productDetails .product .basicInfo{display: flex; flex-wrap: wrap;}
.productSection .productDetails .product .basicInfo>div{width: var(--productDetailsBasicInfoWidth); margin: var(--productDetailsBasicInfoMargin);}
.productSection .productDetails .product .variant{padding-left: var(--productDetailsBasicInfoPaddingLeft); border-left: var(--productDetailsBasicInfoBorderLeft);}
